Repository misty-step/bibliomnomnom: changes, and which lefthook commands are due for each by the changed paths.
All: lint, format

lint:
  run: ./scripts/bun.sh eslint --fix --max-warnings 0 --no-warn-ignored {staged_files}
  stage_fixed: true

format:
  run: ./scripts/bun.sh prettier --write {staged_files}
  stage_fixed: true

feat(stt): STT gateway with provider adapters and fallback policy (#209)
  __tests__/lib/listening-sessions/transcription-fallback.test.ts
  __tests__/lib/listening-sessions/transcription.test.ts
  __tests__/lib/stt/adapters/assemblyai.test.ts
  __tests__/lib/stt/adapters/deepgram.test.ts
  __tests__/lib/stt/adapters/elevenlabs.test.ts
  __tests__/lib/stt/gateway.test.ts
  __tests__/lib/stt/registry.test.ts
  app/api/listening-sessions/transcribe/route.ts
  convex/actions/processListeningSession.ts
  lib/api/withObservability.ts
  lib/listening-sessions/transcription.ts
  lib/stt/adapters/assemblyai.ts
  lib/stt/adapters/deepgram.ts
  lib/stt/adapters/elevenlabs.ts
  lib/stt/gateway.ts
  lib/stt/index.ts
  lib/stt/registry.ts
  lib/stt/types.ts
Due: lint, format

refactor(sessions): consolidate triple-write — remove inline synthesis/transcript fields (#201)
  __tests__/convex/listeningSessions.test.ts
  convex/actions/__tests__/processListeningSession.test.ts
  convex/actions/processListeningSession.ts
  convex/listeningSessions.ts
  convex/schema.ts
Due: lint, format

fix(sessions): address review feedback — operation ordering, migration fallback, query tests
  __tests__/convex/listeningSessions.test.ts
  convex/actions/processListeningSession.ts
  convex/listeningSessions.ts
Due: lint, format

chore: cerberus and dependabot updates
  .github/workflows/cerberus.yml
Due: none

refactor(sessions): consolidate triple-write synthesis persistence (#201) (#227)
  .github/workflows/cerberus.yml
  __tests__/convex/listeningSessions.test.ts
  convex/actions/__tests__/processListeningSession.test.ts
  convex/actions/processListeningSession.ts
  convex/listeningSessions.ts
  convex/schema.ts
Due: lint, format

feat(profile): show top-3 refreshable next-read recommendations
  components/profile/ProfilePage.tsx
  components/profile/ProfileRecommendations.tsx
Due: lint, format

fix(profile): preserve full recommendations and interleave top picks
  components/profile/ProfileRecommendations.tsx
Due: lint, format

test(profile): cover compact recommendation interleaving
  components/profile/ProfileRecommendations.tsx
  components/profile/__tests__/ProfileRecommendations.test.ts
Due: lint, format

fix(profile): remove dead recommendation props and add UI tests
  components/profile/ProfileRecommendations.tsx
  components/profile/__tests__/ProfileRecommendations.render.test.tsx
Due: lint, format

test(profile): stub intersection observer in recommendation tests
  components/profile/__tests__/ProfileRecommendations.render.test.tsx
Due: lint, format

test(profile): avoid duplicate-text collisions in render assertions
  components/profile/__tests__/ProfileRecommendations.render.test.tsx
Due: lint, format

test(profile): split compact recommendation render behaviors
  components/profile/__tests__/ProfileRecommendations.render.test.tsx
Due: lint, format

fix(profile): support optional recommendation badges
  components/profile/BookRecommendation.tsx
  components/profile/ProfileRecommendations.tsx
  convex/actions/profileInsights.ts
Due: lint, format

chore(convex): refresh generated api typings
  convex/_generated/.glance.md
  convex/_generated/api.d.ts
Due: lint, format

test(profile): verify badge normalization parsing
  __tests__/convex/actions/profileInsights.test.ts
Due: lint, format

fix(profile): address recommendation review feedback
  components/profile/ProfileRecommendations.tsx
  components/profile/__tests__/BookRecommendation.test.tsx
  components/profile/__tests__/ProfileRecommendations.render.test.tsx
Due: lint, format

fix(profile): address follow-up review comments
  components/profile/ProfileRecommendations.tsx
  components/profile/__tests__/BookRecommendation.test.tsx
  components/profile/__tests__/ProfileRecommendations.render.test.tsx
Due: lint, format

refactor(profile): align badge rules across layers
  __tests__/convex/actions/profileInsights.test.ts
  components/profile/BookRecommendation.tsx
  components/profile/ProfileRecommendations.tsx
  components/profile/__tests__/ProfileRecommendations.render.test.tsx
  convex/actions/profileInsights.ts
Due: lint, format

feat(profile): add top-3 next-book recommendations (#231)
  __tests__/convex/actions/profileInsights.test.ts
  components/profile/BookRecommendation.tsx
  components/profile/ProfilePage.tsx
  components/profile/ProfileRecommendations.tsx
  components/profile/__tests__/BookRecommendation.test.tsx
  components/profile/__tests__/ProfileRecommendations.render.test.tsx
  components/profile/__tests__/ProfileRecommendations.test.ts
  convex/_generated/.glance.md
  convex/_generated/api.d.ts
  convex/actions/profileInsights.ts
Due: lint, format

feat(notes): add safe-exit controls for voice recording overlay
  components/notes/ListeningSessionRecorder.test.tsx
  components/notes/ListeningSessionRecorder.tsx
  components/notes/useListeningSessionRecorder.test.tsx
  components/notes/useListeningSessionRecorder.ts
Due: lint, format

ci: standardize Cerberus workflow to default @master template
  .github/workflows/cerberus.yml
Due: none

ci: use CERBERUS_OPENROUTER_API_KEY for Cerberus workflow
  .github/workflows/cerberus.yml
Due: none

ci(ci): run full checks on PRs only and trigger release on master push
  .github/workflows/ci.yml
  .github/workflows/release.yml
Due: none

fix(notes): address recording overlay review findings
  components/notes/ListeningSessionRecorder.test.tsx
  components/notes/ListeningSessionRecorder.tsx
  components/notes/useListeningSessionRecorder.test.tsx
  components/notes/useListeningSessionRecorder.ts
Due: lint, format

fix(notes): report discard fail persistence errors
  components/notes/useListeningSessionRecorder.test.tsx
  components/notes/useListeningSessionRecorder.ts
Due: lint, format

feat(notes): add safe-exit flow to voice recording overlay (#235)
  .github/workflows/ci.yml
  .github/workflows/release.yml
  components/notes/ListeningSessionRecorder.test.tsx
  components/notes/ListeningSessionRecorder.tsx
  components/notes/useListeningSessionRecorder.test.tsx
  components/notes/useListeningSessionRecorder.ts
Due: lint, format

chore: rebrand project persona to Klaus the Notorious Reader
  AGENTS.md
Due: none

chore: bootstrap repository-local Pi foundation
  .pi/agents/pipelines.yaml
  .pi/agents/planner.md
  .pi/agents/reviewer.md
  .pi/agents/teams.yaml
  .pi/agents/worker.md
  .pi/bootstrap-report.md
  .pi/prompts/deliver.md
  .pi/prompts/design.md
  .pi/prompts/discover.md
  .pi/prompts/review.md
  .pi/settings.json
  .pi/state/session-handoff.json
  .pi/state/session-handoff.ndjson
  docs/pi-local-workflow.md
Due: format

chore(pi): ignore transient session state
  .gitignore
Due: none

chore(pi): un-track transient session state
  .pi/state/session-handoff.json
  .pi/state/session-handoff.ndjson
Due: format

fix(pi): restore guardrails and fix bootstrap portability
  .pi/agents/planner.md
  .pi/agents/reviewer.md
  .pi/agents/worker.md
  .pi/bootstrap-report.md
  .pi/settings.json
  AGENTS.md
  docs/pi-local-workflow.md
Due: format

fix(pi): close remaining review gaps in bootstrap docs and policy
  .pi/agents/pipelines.yaml
  .pi/agents/planner.md
  .pi/agents/reviewer.md
  .pi/bootstrap-report.md
  AGENTS.md
Due: format

docs(agents): restore detailed operational guidance
  AGENTS.md
Due: none

docs(pi): add PR conversation closure guidance
  .pi/agents/pipelines.yaml
  .pi/agents/reviewer.md
  .pi/agents/worker.md
  .pi/prompts/deliver.md
  .pi/prompts/review.md
  AGENTS.md
Due: format

fix(pi): close remaining review findings on portability and docs
  .pi/bootstrap-report.md
  .pi/prompts/deliver.md
  .pi/settings.json
  AGENTS.md
  docs/pi-local-workflow.md
Due: format

chore: rebrand project persona to Klaus the Notorious Reader (#246)
  .gitignore
  .pi/agents/pipelines.yaml
  .pi/agents/planner.md
  .pi/agents/reviewer.md
  .pi/agents/teams.yaml
  .pi/agents/worker.md
  .pi/prompts/deliver.md
  .pi/prompts/design.md
  .pi/prompts/discover.md
  .pi/prompts/review.md
  .pi/settings.json
  AGENTS.md
  docs/pi-local-workflow.md
Due: format

ci: enforce PR governance and portability blockers
  .github/workflows/ci.yml
  AGENTS.md
  __tests__/scripts/pr-governance-check.test.ts
  docs/pi-legacy-patterns-annotation.md
  docs/pi-local-workflow.md
  package.json
  scripts/pr-governance-check.mjs
Due: lint, format

fix(ci): tighten PR governance signal and path detection
  __tests__/scripts/pr-governance-check.test.ts
  scripts/pr-governance-check.mjs
Due: lint, format

test(ci): expand governance checks coverage and thread filtering
  __tests__/scripts/pr-governance-check.test.ts
  scripts/pr-governance-check.mjs
Due: lint, format

fix(ci): group regex alternation with word boundaries
  scripts/pr-governance-check.mjs
Due: none

Path conditions:
  lint: any of: **/*.{ts,tsx,js,jsx}
  format: any of: **/*.{ts,tsx,js,jsx,json,md,css}
