Repository misty-step/bibliomnomnom: changes, and which lefthook commands are due for each by the changed paths.
All: lint, format

lefthook.yml:

# Lefthook Configuration
# Enables Friday afternoon deploy confidence with automated quality gates
# Docs: https://lefthook.dev/

min_version: 2.0.0

pre-commit:
  parallel: true
  commands:
    trufflehog:
      run: |
        if ! command -v trufflehog &> /dev/null; then
          echo "‚ùå TruffleHog not found. Install with:"
          echo "   brew install trufflesecurity/trufflehog/trufflehog"
          echo "   or: https://github.com/trufflesecurity/trufflehog#installation"
          exit 1
        fi
        repo_dir="$(git rev-parse --git-common-dir)"
        trufflehog git --bare "file://$repo_dir" --since-commit HEAD --only-verified --fail --no-update

    lint:
      glob: "**/*.{ts,tsx,js,jsx}"
      run: ./scripts/pnpm.sh eslint --fix --max-warnings 0 --no-warn-ignored {staged_files}
      stage_fixed: true

    format:
      glob: "**/*.{ts,tsx,js,jsx,json,md,css}"
      run: ./scripts/pnpm.sh prettier --write {staged_files}
      stage_fixed: true

    typecheck:
      run: ./scripts/pnpm.sh tsc --noEmit

pre-push:
  parallel: true
  commands:
    env-check:
      run: ./scripts/validate-env.sh

    test:
      run: ./scripts/pnpm.sh test

    build:
      run: ./scripts/pnpm.sh build:local

commit-msg:
  commands:
    commitlint:
      run: ./scripts/pnpm.sh commitlint --edit {1}

docs: update env vars and observability documentation (#121)
  .env.example
  CLAUDE.md
  __tests__/api/stripe/webhook.route.test.ts
  app/api/blob/upload/route.ts
  app/api/health/__tests__/route.test.ts
  app/api/health/route.ts
  app/api/ocr/route.ts
  app/api/og/profile/route.tsx
  app/api/stripe/webhook/route.ts
  app/api/webhooks/clerk/route.ts
  app/layout.tsx
  components/providers/PostHogPageview.tsx
  components/providers/PostHogProvider.tsx
  lib/api/withObservability.ts
  lib/health/__tests__/probes.test.ts
  lib/health/probes.ts
  lib/health/types.ts
  package.json
  pnpm-lock.yaml
Due: lint, format

fix: address PR review feedback
  __tests__/api/stripe/webhook.route.test.ts
  app/api/ocr/route.ts
  app/api/og/profile/route.tsx
  app/api/stripe/webhook/route.ts
  app/api/webhooks/clerk/route.ts
  lib/api/withObservability.ts
Due: lint, format

feat(observability): structured logging, PostHog analytics, fix health probe (#120)
  __tests__/api/stripe/webhook.route.test.ts
  app/api/ocr/route.ts
  app/api/og/profile/route.tsx
  app/api/stripe/webhook/route.ts
  app/api/webhooks/clerk/route.ts
  lib/api/withObservability.ts
Due: lint, format

chore(release): 1.1.0 [skip ci]
  CHANGELOG.md
Due: none

Notes added by 'git notes add'
  8149c048809317682653e02ce045e03000e1cab6
Due: none

feat(landing): add value proposition and AI profile preview (#87)
  app/page.tsx
  components/landing/CTAButton.tsx
Due: lint, format

feat(landing): add auto-rotating archetype carousel (#87)
  app/page.tsx
  components/landing/ArchetypeCarousel.tsx
  tsconfig.json
Due: lint, format

feat(landing): replace carousel with infinite ticker (#87)
  app/globals.css
  app/page.tsx
  components/landing/ArchetypeCarousel.tsx
Due: lint, format

fix(landing): slow down archetype ticker animation (#87)
  app/globals.css
Due: format

fix(landing): slow ticker to 360s cycle (#87)
  app/globals.css
Due: format

feat(landing): communicate AI-enhanced value prop (#124)
  app/globals.css
  app/page.tsx
  components/landing/ArchetypeCarousel.tsx
  components/landing/CTAButton.tsx
  tsconfig.json
Due: lint, format

fix(book): resolve upload cover button not working on book detail page
  components/book/BookCoverManager.tsx
Due: lint, format

fix(a11y): restore keyboard accessibility for file upload inputs
  components/book/BookCoverManager.tsx
Due: lint, format

feat(analytics): improve PostHog integration with privacy and ad blocker bypass
  components/providers/PostHogProvider.tsx
  next.config.ts
Due: lint, format

fix(analytics): address review feedback on PostHog config
  components/providers/PostHogProvider.tsx
  next.config.ts
Due: lint, format

feat(analytics): add PostHog user identification
  app/layout.tsx
  components/providers/PostHogProvider.tsx
Due: lint, format

fix(book): resolve upload cover button not working on book detail page (#125)
  components/book/BookCoverManager.tsx
Due: lint, format

fix(analytics): address round 2 review feedback
  components/providers/PostHogProvider.tsx
  middleware.ts
Due: lint, format

feat: Distribution readiness guide and automation scripts
  DISTRIBUTION-READINESS.md
  scripts/check-readiness.sh
  scripts/setup-distribution.sh
Due: none

refactor(stripe): wrap webhook handler with withObservability
  app/api/stripe/webhook/route.ts
Due: lint, format

refactor(health): extract probe count to named constant
  app/api/health/route.ts
Due: lint, format

refactor(health): extract probe count to named constant (#129)
  app/api/health/route.ts
Due: lint, format

fix(scripts): address PR review feedback
  DISTRIBUTION-READINESS.md
  scripts/check-readiness.sh
  scripts/setup-distribution.sh
Due: none

feat(analytics): add PostHog user identification (#127)
  app/layout.tsx
  components/providers/PostHogProvider.tsx
Due: lint, format

feat(analytics): improve PostHog integration with privacy and ad blocker bypass (#126)
  components/providers/PostHogProvider.tsx
  middleware.ts
  next.config.ts
Due: lint, format

refactor(stripe): wrap webhook handler with withObservability (#128)
  app/api/stripe/webhook/route.ts
Due: lint, format

fix(subscriptions): make getPlanName more robust
  app/(dashboard)/settings/page.tsx
  app/api/stripe/webhook/route.ts
  convex/schema.ts
  convex/subscriptions.ts
  lib/stripe.ts
Due: lint, format

fix: remove duplicate useUser import in PostHogProvider
  components/providers/PostHogProvider.tsx
Due: lint, format

fix: remove duplicate useUser import
  components/providers/PostHogProvider.tsx
Due: lint, format

test: fix webhook mock and localStorage test issues
  __tests__/api/stripe/webhook.route.test.ts
  components/navigation/__tests__/LibraryNav.test.tsx
Due: lint, format

docs: add brand guidelines (colors, typography, voice)
  docs/brand/README.md
  docs/brand/colors.md
  docs/brand/typography.md
  docs/brand/voice.md
Due: format

test: fix localStorage mock in LibraryNav tests
  components/navigation/__tests__/LibraryNav.test.tsx
Due: lint, format

ci: integrate Cerberus AI code review council v1
  .github/workflows/cerberus.yml
Due: none

fix(ci): use GH_RELEASE_TOKEN for semantic-release bypass
  .github/workflows/release.yml
Due: none

docs: add brand guidelines (#137)
  DISTRIBUTION-READINESS.md
  components/navigation/__tests__/LibraryNav.test.tsx
  components/providers/PostHogProvider.tsx
  docs/brand/README.md
  docs/brand/colors.md
  docs/brand/typography.md
  docs/brand/voice.md
  scripts/check-readiness.sh
  scripts/setup-distribution.sh
Due: lint, format

fix(ci): use GH_RELEASE_TOKEN for semantic-release
  .github/workflows/release.yml
Due: none

feat: prototype listening sessions end-to-end
  .env.example
  app/api/blob/upload-audio/route.ts
  app/api/listening-sessions/synthesize/__tests__/route.test.ts
  app/api/listening-sessions/synthesize/route.ts
  app/api/listening-sessions/transcribe/__tests__/route.test.ts
  app/api/listening-sessions/transcribe/route.ts
  components/book/BookDetail.tsx
  components/notes/ListeningSessionRecorder.tsx
  convex/_generated/api.d.ts
  convex/listeningSessions.ts
  convex/schema.ts
  docs/flows/README.md
  docs/flows/listening-sessions.md
  lib/listening-sessions/synthesis.ts
Due: lint, format
