Repository misty-step/bibliomnomnom: changes, and which lefthook commands are due for each by the changed paths.
All: lint, format

lefthook.yml:

# Lefthook Configuration
# Enables Friday afternoon deploy confidence with automated quality gates
# Docs: https://lefthook.dev/

min_version: 2.0.0

pre-commit:
  parallel: true
  commands:
    trufflehog:
      run: |
        if ! command -v trufflehog &> /dev/null; then
          echo "‚ùå TruffleHog not found. Install with:"
          echo "   brew install trufflesecurity/trufflehog/trufflehog"
          echo "   or: https://github.com/trufflesecurity/trufflehog#installation"
          exit 1
        fi
        repo_dir="$(git rev-parse --git-common-dir)"
        trufflehog git --bare "file://$repo_dir" --since-commit HEAD --only-verified --fail --no-update

    lint:
      glob: "**/*.{ts,tsx,js,jsx}"
      run: ./scripts/pnpm.sh eslint --fix --max-warnings 0 --no-warn-ignored {staged_files}
      stage_fixed: true

    format:
      glob: "**/*.{ts,tsx,js,jsx,json,md,css}"
      run: ./scripts/pnpm.sh prettier --write {staged_files}
      stage_fixed: true

    typecheck:
      run: ./scripts/pnpm.sh tsc --noEmit

pre-push:
  parallel: true
  commands:
    env-check:
      run: ./scripts/validate-env.sh

    test:
      run: ./scripts/pnpm.sh test

    build:
      run: ./scripts/pnpm.sh build:local

commit-msg:
  commands:
    commitlint:
      run: ./scripts/pnpm.sh commitlint --edit {1}

fix(e2e): use heading role for feature list tests (#94)
  e2e/subscription.spec.ts
Due: lint, format

fix(e2e): use accessible role selector for footer tests (#94)
  e2e/subscription.spec.ts
Due: lint, format

fix(billing): ensure user exists in Convex before Stripe checkout (#94)
  app/api/stripe/checkout/route.ts
Due: lint, format

feat(auth): add Clerk webhook for eager user creation (#94)
  app/api/stripe/checkout/route.ts
  app/api/webhooks/clerk/route.ts
Due: lint, format

fix(auth): resolve deprecated Clerk props and status mapping bug (#94)
  __tests__/api/stripe/webhook.test.ts
  app/(auth)/sign-in/[[...sign-in]]/page.tsx
  app/(auth)/sign-up/[[...sign-up]]/page.tsx
  lib/stripe-utils.ts
Due: lint, format

feat(billing): auto-create trial subscription with paywall enforcement (#94)
  __tests__/api/stripe/checkout.test.ts
  __tests__/api/stripe/webhook.route.test.ts
  __tests__/api/webhooks/clerk.test.ts
  __tests__/convex/subscriptions.test.ts
  __tests__/lib/constants.test.ts
  app/(dashboard)/layout.tsx
  components/subscription/PaywallOverlay.tsx
  components/subscription/SubscriptionGate.tsx
  convex/schema.ts
  convex/subscriptions.ts
  convex/users.ts
  lib/constants.ts
  lib/hooks/useEnsureTrial.ts
  lib/stripe.ts
  middleware.ts
Due: lint, format

fix(billing): address PR review feedback for Stripe integration (#94)
  __tests__/api/stripe/checkout.test.ts
  __tests__/api/stripe/webhook.test.ts
  __tests__/lib/stripe.test.ts
  app/(auth)/sign-in/[[...sign-in]]/page.tsx
  app/(auth)/sign-up/[[...sign-up]]/page.tsx
  app/api/stripe/checkout/route.ts
  app/api/stripe/portal/route.ts
  e2e/subscription.spec.ts
  lib/stripe.ts
Due: lint, format

fix(billing): fail fast when Convex auth token is missing (#94)
  .gitignore
  __tests__/api/stripe/checkout.test.ts
  app/api/stripe/checkout/route.ts
  app/api/stripe/portal/route.ts
Due: lint, format

fix(security): secure webhook mutations with token validation (#94)
  app/api/stripe/webhook/route.ts
  convex/subscriptions.ts
Due: lint, format

fix(billing): prevent double trial exploitation in Stripe checkout (#94)
  app/api/stripe/checkout/route.ts
Due: lint, format

fix(billing): clean up subscription on user deletion (#94)
  convex/users.ts
Due: lint, format

fix(billing): reset trial hook ref on user change (#94)
  lib/hooks/useEnsureTrial.ts
Due: lint, format

docs(env): add CONVEX_WEBHOOK_TOKEN to .env.example (#94)
  .env.example
Due: none

test(billing): update webhook tests for action-based API (#94)
  __tests__/api/stripe/webhook.route.test.ts
Due: lint, format

docs: comprehensive documentation audit and generation
  README.md
  docs/adr/0001-dual-user-provisioning-clerk-webhook-plus-lazy.md
  docs/adr/0002-internal-trial-before-stripe.md
  docs/adr/0003-webhook-token-validation-pattern.md
  docs/adr/0004-repository-pattern-for-import.md
  docs/adr/0005-llm-extraction-in-action-not-mutation.md
  docs/adr/0006-model-fallback-with-deduplication.md
  docs/adr/0007-clerk-nextjs-auth-adapter.md
  docs/adr/0008-stripe-status-mapping.md
  docs/adr/0009-de-duplication-on-race-conditions.md
  docs/adr/README.md
  docs/adr/template.md
  docs/flows/README.md
  docs/flows/add-book-sheet.md
  docs/flows/import-flow.md
  docs/flows/photo-quote-capture.md
  docs/flows/profile-generation.md
  docs/flows/subscription-banner.md
  docs/flows/user-provisioning.md
Due: format

fix(billing): improve webhook security and error handling (#94)
  convex/subscriptions.ts
Due: lint, format

chore: add .env.production to gitignore
  .gitignore
Due: none

feat(subscription): context-aware pricing CTAs and onboarding
  __tests__/components/subscription/TrialBanner.test.tsx
  app/pricing/page.tsx
  components/book/BookGrid.tsx
  components/layout/Footer.tsx
  components/onboarding/WelcomeCard.tsx
  components/subscription/TrialBanner.tsx
  lib/hooks/useSubscriptionState.ts
Due: lint, format

fix(e2e): update subscription tests for context-aware CTAs
  e2e/subscription.spec.ts
Due: lint, format

fix(security): address subscription review findings
  .gitignore
  __tests__/api/stripe/checkout.test.ts
  __tests__/lib/security/webhookToken.test.ts
  app/api/stripe/checkout/route.ts
  components/subscription/TrialBanner.tsx
  convex/subscriptions.ts
  convex/users.ts
  lib/api/rateLimit.ts
  lib/security/webhookToken.ts
Due: lint, format

feat(quality): add Stripe health probe and prod env verification
  .env.example
  app/api/health/__tests__/route.test.ts
  app/api/health/route.ts
  lefthook.yml
  lib/health/probes.ts
  lib/health/types.ts
  scripts/validate-env.sh
Due: lint, format

fix(security): comprehensive billing hardening from thinktank review
  __tests__/api/stripe/checkout.test.ts
  __tests__/api/stripe/webhook.route.test.ts
  __tests__/lib/security/webhookToken.test.ts
  app/api/stripe/checkout/route.ts
  app/api/stripe/webhook/route.ts
  convex/_generated/api.d.ts
  convex/rateLimit.ts
  convex/schema.ts
  convex/subscriptions.ts
  convex/webhookEvents.ts
  lib/security/webhookToken.ts
Due: lint, format

fix(stripe): add API key format validation to prevent header injection errors
  lib/health/probes.ts
  lib/stripe.ts
Due: lint, format

fix(build): skip lefthook install in CI/Vercel environments
  package.json
Due: none

feat(infra): add env var validation and deployment hardening
  docs/deployment/pre-production-checklist.md
  docs/investigations/2026-01-17-trial-banner-bug.md
  docs/postmortems/2026-01-17-stripe-webhook-failure.md
  lefthook.yml
  scripts/validate-env.sh
  scripts/verify-deploy-ready.sh
Due: format

docs(deployment): add env file structure documentation
  docs/deployment/pre-production-checklist.md
Due: format

docs: comprehensive documentation audit
  ARCHITECTURE.md
  CLAUDE.md
  README.md
  docs/adr/0010-past-due-grace-period.md
  docs/adr/0011-distributed-rate-limiting.md
  docs/adr/README.md
  docs/flows/README.md
  docs/flows/book-cover-manager.md
  docs/flows/stripe-subscription.md
  lib/import/README.md
Due: format

fix(scripts): address thinktank review findings
  scripts/validate-env.sh
  scripts/verify-deploy-ready.sh
Due: none

fix: address PR review feedback
  docs/adr/0011-distributed-rate-limiting.md
  docs/investigations/2026-01-17-trial-banner-bug.md
  lib/import/README.md
  scripts/validate-env.sh
Due: format

fix(scripts): fix arithmetic exit codes and trufflehog options
  scripts/verify-deploy-ready.sh
Due: none

feat(infra): add env var validation and deployment hardening (#103)
  ARCHITECTURE.md
  CLAUDE.md
  README.md
  docs/adr/0010-past-due-grace-period.md
  docs/adr/0011-distributed-rate-limiting.md
  docs/adr/README.md
  docs/deployment/pre-production-checklist.md
  docs/flows/README.md
  docs/flows/book-cover-manager.md
  docs/flows/stripe-subscription.md
  docs/investigations/2026-01-17-trial-banner-bug.md
  docs/postmortems/2026-01-17-stripe-webhook-failure.md
  lefthook.yml
  lib/import/README.md
  scripts/validate-env.sh
  scripts/verify-deploy-ready.sh
Due: format

feat(observability): add Sentry error tracking with PII redaction (#41)
  .env.example
  app/api/blob/upload/route.ts
  app/test-error/page.tsx
  components/book/AddBookSheet.tsx
  components/book/BookForm.tsx
  instrumentation.ts
  lib/sentry.ts
  next.config.ts
  package.json
  pnpm-lock.yaml
  sentry.client.config.ts
  sentry.edge.config.ts
  sentry.server.config.ts
Due: lint, format

refactor: simplify Sentry config with shared module (#41)
  lib/sentry-config.ts
  sentry.client.config.ts
  sentry.edge.config.ts
  sentry.server.config.ts
Due: lint, format

refactor: use abstraction layer in test-error page (#41)
  app/test-error/page.tsx
Due: lint, format

fix(ci): exclude node: protocol chunks from artifact upload
  .github/workflows/ci.yml
Due: none

fix(ci): delete files with colons before artifact upload
  .github/workflows/ci.yml
Due: none

fix(sentry): address thinktank review findings
  .github/workflows/ci.yml
  app/api/blob/upload/route.ts
  app/test-error/TestErrorClient.tsx
  app/test-error/page.tsx
  lib/sentry-config.ts
  next.config.ts
Due: lint, format

feat(observability): add Sentry error tracking with PII redaction (#104)
  .env.example
  .github/workflows/ci.yml
  app/api/blob/upload/route.ts
  app/test-error/TestErrorClient.tsx
  app/test-error/page.tsx
  components/book/AddBookSheet.tsx
  components/book/BookForm.tsx
  instrumentation.ts
  lib/sentry-config.ts
  lib/sentry.ts
  next.config.ts
  package.json
  pnpm-lock.yaml
  sentry.client.config.ts
  sentry.edge.config.ts
  sentry.server.config.ts
Due: lint, format

feat(analytics): add PostHog user behavior tracking (#90)
  .env.example
  app/layout.tsx
  components/book/AddBookSheet.tsx
  components/book/BookDetail.tsx
  components/notes/CreateNote.tsx
  components/providers/PostHogProvider.tsx
  lib/analytics/posthog.ts
  package.json
  pnpm-lock.yaml
Due: lint, format
