Repository misty-step/bibliomnomnom: changes, and which lefthook commands are due for each by the changed paths.
All: lint, format

lefthook.yml:

# Lefthook Configuration
# Enables Friday afternoon deploy confidence with automated quality gates
# Docs: https://lefthook.dev/

min_version: 2.0.0

pre-commit:
  parallel: true
  commands:
    trufflehog:
      run: |
        if ! command -v trufflehog &> /dev/null; then
          echo "‚ùå TruffleHog not found. Install with:"
          echo "   brew install trufflesecurity/trufflehog/trufflehog"
          echo "   or: https://github.com/trufflesecurity/trufflehog#installation"
          exit 1
        fi
        repo_dir="$(git rev-parse --git-common-dir)"
        trufflehog git --bare "file://$repo_dir" --since-commit HEAD --only-verified --fail --no-update

    lint:
      glob: "**/*.{ts,tsx,js,jsx}"
      run: ./scripts/pnpm.sh eslint --fix --max-warnings 0 --no-warn-ignored {staged_files}
      stage_fixed: true

    format:
      glob: "**/*.{ts,tsx,js,jsx,json,md,css}"
      run: ./scripts/pnpm.sh prettier --write {staged_files}
      stage_fixed: true

    typecheck:
      run: ./scripts/pnpm.sh tsc --noEmit

pre-push:
  parallel: true
  commands:
    env-check:
      run: ./scripts/validate-env.sh

    test:
      run: ./scripts/pnpm.sh test

    build:
      run: ./scripts/pnpm.sh build:local

commit-msg:
  commands:
    commitlint:
      run: ./scripts/pnpm.sh commitlint --edit {1}

chore(toolchain): migrate from pnpm to bun
  .github/workflows/ci.yml
  .github/workflows/release.yml
  .tool-versions
  bun.lock
  lefthook.yml
  package.json
  playwright.config.ts
  pnpm-lock.yaml
  scripts/bun.sh
  scripts/check-readiness.sh
  scripts/convex-env-sync.sh
  scripts/dev-stripe.sh
  scripts/ensure-convex-webhook-token.sh
  scripts/generate-releases.ts
  scripts/obs
  scripts/pnpm.sh
  scripts/setup-distribution.sh
  scripts/validate-env.sh
  scripts/verify-deploy-ready.sh
  vercel.json
  vitest.config.ts
Due: lint, format

fix(stripe): harden checkout entitlement sync
  __tests__/api/stripe/checkout.confirm.route.test.ts
  __tests__/api/stripe/checkout.test.ts
  __tests__/api/stripe/webhook.route.test.ts
  app/(dashboard)/layout.tsx
  app/api/stripe/checkout/confirm/route.ts
  app/api/stripe/checkout/route.ts
  app/api/stripe/webhook/route.ts
  app/pricing/page.tsx
  components/subscription/CheckoutReturnSync.tsx
  components/subscription/TrialBanner.tsx
  components/ui/button.tsx
  convex/_generated/api.d.ts
  convex/_generated/dataModel.d.ts
  convex/_generated/server.d.ts
  convex/_generated/server.js
  convex/imports.ts
  convex/subscriptions.ts
  lib/stripe.ts
Due: lint, format

docs: update bun and billing guides
  AGENTS.md
  ARCHITECTURE.md
  CLAUDE.md
  CONTRIBUTING.md
  DEPLOYMENT.md
  DISTRIBUTION-READINESS.md
  GEMINI.md
  README.md
  components/README.md
  convex/README.md
  docs/deployment/pre-production-checklist.md
  docs/flows/stripe-subscription.md
Due: format

fix(listening-sessions): unblock audio upload
  app/api/blob/upload-audio/route.ts
  components/notes/ListeningSessionRecorder.tsx
Due: lint, format

refactor(notes): consolidate reflections into notes
  components/notes/CreateNote.tsx
  components/notes/NoteCard.tsx
  components/notes/NoteTypeSelector.tsx
  convex/notes.ts
Due: lint, format

feat(listening-sessions): improve synthesis prompt and notes
  app/api/listening-sessions/synthesize/route.ts
  components/notes/ListeningSessionRecorder.tsx
  convex/listeningSessions.ts
  lib/listening-sessions/synthesis.ts
  lib/listening-sessions/synthesisConfig.ts
  lib/listening-sessions/synthesisPrompt.ts
Due: lint, format

docs: document listening session synthesis pipeline
  ARCHITECTURE.md
  CLAUDE.md
  README.md
  components/README.md
  convex/README.md
  docs/flows/listening-sessions.md
Due: format

docs: update env example for synthesis knobs
  .env.example
Due: none

feat(listening-sessions): harden synthesis requests
  __tests__/lib/listening-sessions/synthesisConfig.test.ts
  app/api/listening-sessions/synthesize/route.ts
  lib/ai/openrouter.ts
  lib/listening-sessions/synthesisConfig.ts
Due: lint, format

docs: update listening synthesis knobs
  .env.example
  docs/flows/listening-sessions.md
Due: format

fix(releases): preserve existing notes when generating
  scripts/generate-releases.ts
Due: lint, format

chore(release): adopt landfall workflow
  .github/workflows/release.yml
Due: none

chore(ci): add Cerberus code review workflow
  .github/workflows/cerberus.yml
Due: none

chore(ci): fix Cerberus permissions
  .github/workflows/cerberus.yml
Due: none

chore(ci): make Cerberus advisory
  .github/workflows/cerberus.yml
Due: none

fix(listening-sessions): harden audio transcription inputs
  app/api/blob/upload-audio/route.ts
  app/api/listening-sessions/transcribe/__tests__/route.test.ts
  app/api/listening-sessions/transcribe/route.ts
  lib/constants.ts
Due: lint, format

refactor(stripe): use auth helper for webhook preflight
  convex/subscriptions.ts
Due: lint, format

feat(listening-sessions): ship voice sessions MVP
  app/api/blob/upload-audio/route.ts
  app/api/listening-sessions/synthesize/route.ts
  app/api/listening-sessions/transcribe/route.ts
  components/notes/ListeningSessionRecorder.tsx
  components/notes/useListeningSessionRecorder.ts
  convex/listeningSessions.ts
  lib/listening-sessions/entitlements.ts
  lib/listening-sessions/mime.ts
Due: lint, format

test(listening-sessions): add guard coverage
  __tests__/listening-sessions/entitlements.test.ts
  __tests__/listening-sessions/mime.test.ts
  __tests__/listening-sessions/synthesis.test.ts
  __tests__/listening-sessions/synthesisConfig.test.ts
  __tests__/listening-sessions/synthesisPrompt.test.ts
  app/api/blob/upload-audio/__tests__/route.test.ts
  app/api/listening-sessions/synthesize/__tests__/route.test.ts
  app/api/listening-sessions/transcribe/__tests__/route.test.ts
  vitest.config.ts
Due: lint, format

fix(stripe): harden checkout preflight
  __tests__/api/stripe/checkout.test.ts
  app/api/stripe/checkout/route.ts
Due: lint, format

chore(ci): cache bun and pin trufflehog
  .github/workflows/ci.yml
Due: none

docs: update voice sessions and deployment
  ARCHITECTURE.md
  CONTRIBUTING.md
  DEPLOYMENT.md
  README.md
  docs/flows/listening-sessions.md
  docs/flows/stripe-subscription.md
Due: format

fix(listening-sessions): handle unload and unmount
  components/notes/useListeningSessionRecorder.ts
Due: lint, format

perf(listening-sessions): bound synthesis context
  convex/listeningSessions.ts
  convex/schema.ts
  docs/flows/listening-sessions.md
Due: lint, format

refactor(listening-sessions): tidy artifact parsing
  app/api/listening-sessions/synthesize/__tests__/route.test.ts
  app/api/listening-sessions/synthesize/route.ts
Due: lint, format

chore(deps): update bun.lock
  bun.lock
Due: none

fix(settings): avoid empty priceId mapping keys
  app/(dashboard)/settings/page.tsx
Due: lint, format

fix(settings): resolve plan name from server price IDs
  app/(dashboard)/settings/SettingsPageClient.tsx
  app/(dashboard)/settings/page.tsx
  lib/subscription/plan-name.test.ts
  lib/subscription/plan-name.ts
Due: lint, format

fix(settings): improve subscription UX states
  app/(dashboard)/settings/SettingsPageClient.tsx
  app/(dashboard)/settings/error.tsx
  app/(dashboard)/settings/loading.tsx
Due: lint, format

test(settings): cover SettingsPageClient portal flow
  app/(dashboard)/settings/SettingsPageClient.test.tsx
Due: lint, format

test(settings): cover SettingsError reporting
  app/(dashboard)/settings/error.test.tsx
Due: lint, format

test(settings): cover billing portal redirect
  app/(dashboard)/settings/SettingsPageClient.test.tsx
  app/(dashboard)/settings/SettingsPageClient.tsx
  lib/browser/redirect-to.ts
Due: lint, format

test(settings): cover trial & canceling states
  app/(dashboard)/settings/SettingsPageClient.test.tsx
Due: lint, format
